.top-return {
    color: #fff;
}
.top-return a {
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}
.top-return a i{
    margin-right: 6px;
}
.informacion-inner {    
    text-align: center;
    padding: 30px 20px;
}
.informacion.verde-epec {
    background: #006D59;
}
.informacion.azul-epec {
    background: #035F75;
}
.informacion.violeta-epec {
    background: #622180;
}
.informacion.amarillo-epec {
    background: #FABA00;
}
.informacion h5{
    color: #fff;
}
.informacion .info-line {
    border-bottom: 1px solid #fff;
    width: 100px;
    margin: 0 auto;
}
.informacion p{
    color: #fff;
    margin-top: 10px;    
}
.informacion .opacidad {
    height: 100%;
    float: left;
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.informacion:hover .opacidad {
    background: rgba(0, 0, 0, 0.5);
}

.container-fluid-noppading {
    padding-left: 0px;
    padding-right: 0px;
}

.informacion, .informacion-inner, .informacion .opacidad {
    height: 80px;
}
.perfil-destacados .row-ver-mas {
    width: 100%;
    margin-top: -20px;
    z-index: 10;
}
.perfil-destacados .mini-vermas {
    float:right;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .informacion, .informacion-inner, .informacion .opacidad {
        height: 140px;
    }
    .informacion h5 {
        font-size: 1.25rem;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .informacion h5 {
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .informacion h5 {
        font-size: 1.0rem;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .informacion h5 {
        font-size: 1.25rem;

    }
 }
.m-t-10 {
    margin-top: 10px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}


.perfil-links-ayuda {
    width: 50%;
    float: left;
}
.perfil-links-ayuda .link {
    width: 100%;
    height: 100%;
    float: left;   
}
.perfil-links-ayuda .opacidad {
    height: 100%;
    float: left;
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.perfil-links-ayuda:hover .opacidad {
    background: rgba(0, 0, 0, 0.5);
}
.perfil-link a {
    margin-left: 0px;
    text-decoration: none;
}
.perfil-links-ayuda a {
    text-decoration: none;

}
.perfil-links-ayuda .link-informacion-general {
    background: #006D59 url(../images/perfil/informacion-comercial.png) no-repeat top center;
    height: 200px;
    color: #fff;
}
.perfil-links-ayuda .link-informacion-general p {
    font-size: 16px;
    text-align: center;
    margin-top: 100px;
    font-weight: 500;
    color: #fff;
}

.perfil-links-ayuda .link-faq {
    background: #C1C1C1 url(../images/perfil/faq-icono.png) no-repeat center center;
    height: 200px;
}
.perfil-links-ayuda .link-faq a{
    float: left;
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) { 
    .perfil-links-ayuda .link-faq {  
        background: #C1C1C1;      
        height: 150px;
    }
    .perfil-links-ayuda .link-faq a{
        margin-top: 20px;
        background: url(../images/perfil/i-preguntas-frecuentes.png) no-repeat top center;
    }
    .perfil-links-ayuda .link-faq p {
        font-size: 16px;
        text-align: center;
        padding-top: 60px;
        font-weight: 500;
        color: #006D59;
    }
    .perfil-links-ayuda .link-informacion-general {
        height: 150px;
        background: #006D59;
    }
    .perfil-links-ayuda .link-informacion-general a{
        margin-top: 20px;
        float: left;
        width: 100%;
        height: 100%;
        background: url(../images/perfil/i-informacion-comercial.png) no-repeat top center;
    }
    .perfil-links-ayuda .link-informacion-general p {
        font-size: 16px;
        text-align: center;
        padding-top: 60px;
        margin-top: 0px;
        font-weight: 500;
        color: #fff;
    }
    p.info {
        display: none;
    }
 }
@media (min-width:768px){
    .perfil-links-ayuda .link-faq p {
        display: none;
    }
    .oficina-virtual-ingresar-left {        
        display: inline-block;
        width: 50%;
        float: left;
        padding: 1rem;
    }
    .oficina-virtual-ingresar-right {
        width: 50%;
        float: left;
        padding: 1rem;
    }
    p.info {
        color: #fff;
        text-align: center;
        font-size: 1rem;
    }
}
@media (min-width:992px) {
    .oficina-virtual-plus {
        padding-bottom: 0px;
    }
    .section-perfil-oficina-virtual .col-oficina-virtual {
        padding-right: 0px!important;
    }
    .perfil-links-ayuda {
        width: 100%;
    }
    .oficina-virtual-quiero-ingresar .access-link div.titlered {
        height: 40px;
        padding-top: 4px;
        padding-left: 10px;
        float: left;
        width: auto;
    }
    .oficina-virtual-quiero-ingresar .access-link div.icono {
        float: left;
        width: auto;
    }
    .oficina-virtual-quiero-ingresar {
        padding: 1rem;
    }
    p.info {
        font-size: 0.8rem;
    }    
    .oficina-virtual-quiero-ingresar {
        padding-bottom: 0;
    }
}
@media (min-width:1200px) {
    .perfil-links-ayuda {
        width: 50%;
    }
    .md-form-user {
        width: 50%;
        float: left;
        padding: 10px;
    }
    .md-form-pass {
        width: 50%;
        float: right;
        padding: 10px;
    }
    .oficina-virtual-quiero-ingresar {
        background: #D0DCDE;
    }
    .oficina-virtual-quiero-ingresar h5 {
        width: 19%;
        float: left;
        margin-top: 1rem;
        font-size: 0.8rem;
        margin-right: 1rem;
    }
    .oficina-virtual-quiero-ingresar .access-links {
        width: 55%;
        float: left;
    }
    
    .oficina-virtual-quiero-ingresar .access-registrate {
        width: auto;
        float: right;
        margin-top: 0;
        width: 23%;
    }
    .oficina-virtual-quiero-ingresar .access-registrate .md-form {
        margin-top: 0;
    }
    .oficina-virtual-quiero-ingresar {
        padding-bottom: 1rem;
    }
    .oficina-virtual-quiero-ingresar .access-links {
        margin-top: 0;
    }
    .oficina-virtual-quiero-ingresar .access-registrate button {
    color: #fff!important;
    background: #035F75;    
    border-radius: 40px;
    font-size: .8rem;    
    padding: .5rem 2rem;
    }
    .oficina-virtual-ingresar-right .md-form-filled {
        margin-top: .5rem;
    }
    .oficina-virtual-ingresar-right .md-form {
        margin-top: 1rem;        
    }
    .oficina-virtual-ingresar-right {
        padding-bottom: 0.75rem;
    }
    .row-oficina-virtual {
        background: #D0DCDE;    
    }
}
.actualidad h2 {
    color: #006D59;
    padding: 20px 20px 10px 20px;
    font-size: 1.4rem
}
.actualidad p {
    padding: 0 20px;
}
.leermas-container {
    padding: 20px 20px 20px 20px;
}
.leermas-container a.leer-mas {
    background: #006D59;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.perfil-grandes-clientes .actualidad h2 {
    color: #035F75;
}
.perfil-grandes-clientes .leermas-container a.leer-mas {
    background: #035F75;
}
.perfil-proveedores .actualidad h2 {
    color: #FABA00;
}
.perfil-proveedores .leermas-container a.leer-mas {
    background: #FABA00;
}
.perfil-cooperativas .actualidad h2 {
    color: #622180;
}
.perfil-cooperativas .leermas-container a.leer-mas {
    background: #622180;
}

.linea-horizontal img {
    height: 6px;
    width: 100%;
    float: left;
}
.carousel-caption h2 {
    color: #000;
    font-size: 1.4rem;
    margin-bottom: 15px;
}
.carousel-caption p {
    font-size: 16px;
    font-weight: 500;
}
.carousel-caption h2 span, .carousel-caption p span {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
}

    .perfil-carousel .carousel-caption {
        width: 100%;
        left: 0;
        right: 0;
    }
    .perfil-carousel .carousel-caption h2{
        line-height: 40px;
    }

.perfil-carousel .carousel-caption {
    text-align: center;    
    top: 15%;
    color: #000;
}
.perfil-carousel .carousel-caption .leermas-container{
    padding: 20px 20px 20px 0px;
}
.twitter-container {
    max-height: 600px;
    overflow-y: scroll;
}
@media (max-width: 992px) { 
    .twitter-container {
        max-height: 300px;
    }
}


section.perfil-carousel .carousel-control-next, .carousel-control-prev {
    width: 5%;
}

section.perfil-carousel  .slide-fondo-1 {
    background: url(../../images/perfil/carousel/slide.jpg) no-repeat center center;
}
section.perfil-carousel  .slide-fondo-2 {
    background: url(../../images/perfil/carousel/slide.jpg) no-repeat center center;
}
section.perfil-carousel  .slide-fondo-3 {
    background: url(../../images/perfil/carousel/slide.jpg) no-repeat center center;
}
section.perfil-carousel  .slide-fondo {
    width: 100%;
    height: 300px;
}
.carousel-caption {

}

.actualidad.mercado {
    text-transform: uppercase;
    
}
.actualidad-mercado h4{
    text-transform: uppercase;
    background: #EBEAE8;
    font-size: 14px;
    padding: 10px 0 10px 20px;    
}
.actualidad-mercado .contenido {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
} 
.mantenimientoymejoras {

}

