.top-return {
    color: #fff;
}
.top-return a {
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}
.top-return a i{
    margin-right: 6px;
}
.informacion-inner {    
    text-align: center;
    padding: 30px 20px;
}
.informacion.verde-epec {
    background: #006D59;
}
.informacion.azul-epec {
    background: #035F75;
}
.informacion.violeta-epec {
    background: #622180;
}
.informacion.amarillo-epec {
    background: #FABA00;
}
.informacion h5{
    color: #fff;
}
.informacion .info-line {
    border-bottom: 1px solid #fff;
    width: 100px;
    margin: 0 auto;
}
.informacion p{
    color: #fff;
    margin-top: 10px;
    
}
.informacion h5 {

}
.informacion .opacidad {
    height: 100%;
    float: left;
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.informacion:hover .opacidad {
    background: rgba(0, 0, 0, 0.5);
}

.container-fluid-noppading {
    padding-left: 0px;
    padding-right: 0px;
}

.informacion, .informacion-inner, .informacion .opacidad {
    height: 80px;
}
.perfil-destacados .row-ver-mas {
    width: 100%;
    margin-top: -20px;
    z-index: 10;
}
.perfil-destacados .mini-vermas {
    float:right;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .informacion, .informacion-inner, .informacion .opacidad {
        height: 140px;
    }
    .informacion h5 {
        font-size: 1.25rem;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .informacion h5 {
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .informacion h5 {
        font-size: 1.0rem;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .informacion h5 {
        font-size: 1.25rem;

    }
 }
.m-t-10 {
    margin-top: 10px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}

.section-perfil-oficina-virtual .col-oficina-virtual {
    width: 100%;
    padding-right: 0!important;
}
.section-perfil-oficina-virtual .row-oficina-virtual {
    border-top: none;
}
.section-perfil-oficina-virtual .oficina-virtual-plus {    
    padding: 10px 10px 10px 10px;
    min-height: 100px;    
}

.actualidad h2 {
    color: #006D59;
    padding: 20px 20px 10px 20px;
    font-size: 1.4rem
}
.actualidad p {
    padding: 0 20px;
}
.leermas-container {
    padding: 20px 20px 20px 20px;
}
.leermas-container a.leer-mas {
    background: #006D59;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.perfil-grandes-clientes .actualidad h2 {
    color: #035F75;
}
.perfil-grandes-clientes .leermas-container a.leer-mas {
    background: #035F75;
}
.perfil-proveedores .actualidad h2 {
    color: #FABA00;
}
.perfil-proveedores .leermas-container a.leer-mas {
    background: #FABA00;
}
.perfil-cooperativas .actualidad h2 {
    color: #622180;
}
.perfil-cooperativas .leermas-container a.leer-mas {
    background: #622180;
}

.linea-horizontal img {
    height: 6px;
    width: 100%;
    float: left;
}
.carousel-caption h2 {
    color: #000;
    font-size: 1.4rem;
    margin-bottom: 15px;
}
.carousel-caption p {
    font-size: 16px;
    font-weight: 500;
}
.carousel-caption h2 span, .carousel-caption p span {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
}

    .perfil-carousel .carousel-caption {
        width: 100%;
        left: 0;
        right: 0;
    }
    .perfil-carousel .carousel-caption h2{
        line-height: 40px;
    }

.perfil-carousel .carousel-caption {
    text-align: center;    
    top: 15%;
    color: #000;
}
.perfil-carousel .carousel-caption .leermas-container{
    padding: 20px 20px 20px 0px;
}
.twitter-container {
    max-height: 600px;
    overflow-y: scroll;
}
@media (max-width: 992px) { 
    .twitter-container {
        max-height: 300px;
    }
}


section.perfil-carousel .carousel-control-next, .carousel-control-prev {
    width: 5%;
}

section.perfil-carousel  .slide-fondo-1 {
    background: url(../../images/perfil/carousel/slide.jpg) no-repeat center center;
}
section.perfil-carousel  .slide-fondo-2 {
    background: url(../../images/perfil/carousel/slide.jpg) no-repeat center center;
}
section.perfil-carousel  .slide-fondo-3 {
    background: url(../../images/perfil/carousel/slide.jpg) no-repeat center center;
}
section.perfil-carousel  .slide-fondo {
    width: 100%;
    height: 300px;
}
.carousel-caption {

}

.actualidad.mercado {
    text-transform: uppercase;
    
}
.actualidad-mercado h4{
    text-transform: uppercase;
    background: #EBEAE8;
    font-size: 14px;
    padding: 10px 0 10px 20px;    
}
.actualidad-mercado .contenido {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
} 
.mantenimientoymejoras {

}

