/*
Verde EPEC  006D59
Azul    035F75
Lila    622180
Amarillo    FABA00

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.btn {
    border-radius: 0;
    position: relative;
    overflow: hidden;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn:hover {
box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
button .ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
}
@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}
.button-white .ripple {
    background-color: rgb(4, 112, 92,  0.7);
}
.button-pagar .ripple {
    background-color: rgba(255,255,255,0.3);
}
a .ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
}

.container-fluid-nopadding {
    padding-left: 0px;
    padding-right: 0px;
}
.nav-topbar {
    background: #006D59;
    padding: .3rem 1rem;
}
.topbar {
    width: 100%;
}
.top-return {
    color: #fff;
}
.top-return a {
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}
.top-return a i{
    margin-right: 6px;
}
.topbar .topsearch-input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    height: 30px;
    color: #fff;
    border-right: none;
    padding: .375rem .75rem; 
}
.topbar .waves-input-wrapper {
    border-radius: 0;
}
.topsearch ::-webkit-input-placeholder { 
    color:    #d1d1d1!important;
}
.topsearch :-moz-placeholder { 
   color:    #d1d1d1!important;
   opacity:  1;
}
.topsearch ::-moz-placeholder { 
   color:    #d1d1d1!important;
   opacity:  1;
}
.topsearch :-ms-input-placeholder { 
   color:    #d1d1d1!important;
}
.topsearch ::-ms-input-placeholder { 
   color:    #d1d1d1!important;
}
.topsearch ::placeholder { 
   color:    #d1d1d1;
}
.topbar button { 
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #fff;
    border-left: none;
    height: 30px;
    padding: 1px 6px;
    color: #fff;
    margin: 0;
    box-shadow: none;
}
.topbar button:hover {
    color: #006D59;
    background-color: #fff;
    border-color: #fff;
    /*border: 1px solid #fff;*/
}
.topbar button.btn-topsearch-responsive {
    border-color: #006D59;
}
.topbar button:focus {
outline: 0;
}
.topbar .comment {
    margin-right: 20px;
    margin-top: 3px;
}
.topbar .comment a {
    color: #fff;
    width: 135px;
}
.topbar .comment span {
    width: 130px;
}
.topbar .comment a img{
    float: left;
    margin-right: 4px;
}
.topbar .comment a:hover img{
    opacity: 0.5;
}
header {
    min-height: 50px;
}
header .container-menu-all {
    -webkit-box-shadow: 0 2px 10px rgba(50, 50, 50, 0.50);
    -moz-box-shadow: 0 2px 10px rgba(50, 50, 50, 0.50);
    box-shadow: 0 2px 10px rgba(50, 50, 50, 0.50);
}
header .container-menu-all .logo {
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 118px;
    background: url(../images/logo.png) center left no-repeat;
}
header .container-menu-all .logo-mobile {
    background: url(../images/logo-mobile.png) center left no-repeat;
    width: 180px;
}
/*  home    */
section.home .reimprimi {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 300;
}
a.link-tipo-cliente {
    float: left;
    width: 100%;
}
.tipo-cliente {
    min-height: 100px;
    float:left;
    width: 100%;    
}
a.link-tipo-cliente .tipo-cliente-opacidad{
    height: 100%;    
    float: left;
    width: 100%;    
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.tipo-cliente.hogares {
    background: url("../images/perfiles/hogares-comercios.jpg") no-repeat center center;
}
.tipo-cliente.cooperativas {
    background: url("../images/perfiles/cooperativas.jpg") no-repeat center center;
}
.tipo-cliente.grandes {
    background: url("../images/perfiles/grandesclientes.jpg") no-repeat center center;
}
.tipo-cliente.proveedores {
    background: url("../images/perfiles/proveedores.jpg") no-repeat center center;
}
a.link-tipo-cliente:hover .tipo-cliente-opacidad{
    background: rgba(0, 0, 0, 0.5);
}
section.home .paga-tu-factura {
    /*min-height: 540px;*/
    /*background: url("../images/perfiles/fondo-imprimi.jpg") no-repeat center center;*/
}
.col-paga-tu-factura {
    padding-right: 15px!important;
}
.col-paga-tu-factura-inner {
    display: block;
    height: 100%;
    float: left;
    width: 100%;
    background: url("../images/boletaepec.jpg") no-repeat center center;
}
.paga-tu-factura {    
    margin-top: 40%;
    width: 100%;
    text-align: center;
    margin-right: 15px;
}
.paga-tu-factura p {    
    font-size: 1.5rem;    
    line-height: 1.5rem;
}
.paga-tu-factura .button-pagar {
    border: 1px solid #999;
    background: #999;
    color: #fff;
    border-radius: 0;
    padding-left: 40px;
    padding-right: 40px;
    width: 210px;
    height: 48px;
    font-size: 15px;
}
.paga-tu-factura-mobile-inner {
    padding-bottom: 30px;
    background: url("../images/boletaepec.jpg") no-repeat top center;
}
.paga-tu-factura-mobile {
    display: block;
    height: 100%;
    float: left;
    width: 100%;
    background: rgb(198, 212, 231);
    text-align: center;
}
.paga-tu-factura-mobile p {
    padding: 20px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 15px;
}
.paga-tu-factura-mobile .button-pagar {
    border: 1px solid #999;
    background: #999;
    color: #fff;
    border-radius: 0;
    padding-left: 40px;
    padding-right: 40px;
    width: 210px;
    height: 48px;
    font-size: 15px;
}

/*
.col-paga-tu-factura-mobile {
    display: block;
    height: 100%;
    float: left;
    width: 100%;
    background: url("../images/perfiles/fondo-imprimi.jpg") top center;
    text-align: center;
}
.col-paga-tu-factura-mobile p {
    padding: 20px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 15px;
}
.col-paga-tu-factura-mobile a.button-pagar {
    border: 1px solid #333;
    background: #333;
    color: #fff;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 210px;
    font-size: 15px;
    margin-left: 20px;
}
*/
.tipo-cliente p {    
    color: #fff;
}
.perfil-title {
    float: left;
    width: 100%;
    
}
.perfil-title p {
    padding: 30px 30px 30px 30px;
    margin-right: 30px;
    font-size: 1.25rem;
    margin-bottom: 0;
    min-height: 120px;
}
.perfil-subtitle {
    float: left;
    width: 100%;
    padding-right: 30px;
}
.perfil-subtitle p {
    width: 100%;
    padding: 0 30px 30px 30px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.2rem;
    background: url("../images/perfiles/perfiles-flecha.png") no-repeat top right;
}
@media (max-width:992px){
    .perfil-title p {
        padding-right: 30px;
        background: url("../images/perfiles/perfiles-flecha.png") no-repeat center right;
    }
}
@media (min-width:768px) and (max-width:992px){
    .tipo-cliente {
        height: 160px;
    }
}
@media (min-width:992px){
    .tipo-cliente {
        height: 250px;
    }
    .perfil-title {
        background: none;
    }
}


.section-oficina-virtual {
    margin-top: 15px;
    margin-bottom: 15px;
}
.oficina-virtual-container {

}
.row-oficina-virtual {
    
}
.col-oficina-virtual {    
    padding-right: 15px!important;
}
.oficina-virtual {
    
}
.oficina-virtual-plus {
    
    padding: .8rem 1rem .5rem 1rem;
}
.oficina-virtual-plus .loguito {
    float: left;
    width: 50px;
}
.oficina-virtual-plus .loguito img {
    width: 50px;
}
.oficina-virtual-plus .epeconline {
    float: left;
    color: #fff;
    margin-left: 15px;
    margin-bottom: 5px;
    min-width: 70%;
}
.oficina-virtual-plus h5 {
    float: left;
    color: #fff;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 700;
}

.oficina-virtual-ingresar {
    width: 100%;
    display: inline-block;
}
.oficina-virtual-ingresar .md-form {
    color: #fff;
    margin-top: .5rem;
}
.oficina-virtual-ingresar .md-form .prefix {
    color: #fff;
    /*top: 0.75rem;*/
    font-size: .8rem;
}
.oficina-virtual-ingresar .md-form .prefix.active{
    color: #fff;
}
.oficina-virtual-ingresar .md-form label {
    color: #fff;
}
.oficina-virtual-ingresar .md-form input[type=text] {
    padding-left: 2.5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin-left: 0px;
    color: #fff;
    font-size: .8rem;
}
.oficina-virtual-ingresar .md-form input {
    /*padding-bottom: 0rem;*/
}
.oficina-virtual-ingresar .md-form input[type=text]:focus:not([readonly])+label {
    color: #fff;
}
.oficina-virtual-ingresar .md-form input[type=text]:focus:not([readonly]) {    
    box-shadow: 0 1px 0 0 #006073;
    border-bottom: 1px solid #006073;
}

.oficina-virtual-ingresar .md-form ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    font-weight: 300;
}
.oficina-virtual-ingresar .md-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   font-weight: 300;
   opacity:  1;
}
.oficina-virtual-ingresar .md-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   font-weight: 300;
   opacity:  1;
}
.oficina-virtual-ingresar .md-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
   font-weight: 300;
}
.oficina-virtual-ingresar .md-form ::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
   font-weight: 300;
}

.oficina-virtual-ingresar .md-form ::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
   font-weight: 300;
}


.oficina-virtual-ingresar .md-form button.button-ingresar {
    color: #006073!important;
    background: #fff;
    width: 100%;
    margin: 0;
    border-radius: 40px;
    font-size: .8rem;
    margin-top: .2rem;
    padding: .5rem 2rem;
}
@media (max-width:575px){
    .oficina-virtual-ingresar .md-form button.button-ingresar {
        background: #fff;
    }
}
.oficina-virtual-ingresar .md-form button.button-ingresar span.fa {    
    font-size: 1rem;
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.md-form-filled {
    position: relative;
    margin-top: .4rem;
}
.oficina-virtual-ingresar .md-form-filled label span {
    margin-left: 0;
    color: #fff;
    font-size: .8rem;
    cursor: pointer;
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in {
    opacity: 0;
}

.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in + label:after {
    border-radius: 2px;
}
  
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in + label:before,
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in + label:after {
    content: '';
    left: 0;
    position: absolute;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in:not(:checked) + label:after {
    height: 14px;
    width: 14px;
    margin-top: 2px;
    background-color: transparent;
    border: 1px solid #fff;
    top: 0px;
    z-index: 0;
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in:checked + label:before {
    top: 2px;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    border: 2px solid #006073;
    background-color: #006073;
    z-index: 0;
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in.tabbed:focus + label:after {
    border-radius: 2px;
    border-color: #5a5a5a;
    background-color: rgba(0, 0, 0, 0.1);
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in.tabbed:checked:focus + label:after {
    border-radius: 2px;
    background-color: #006073;
    border-color: #006073;
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in:disabled:not(:checked) + label:before {
    background-color: transparent;
    border: 2px solid transparent;
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in:disabled:not(:checked) + label:after {
    border-color: transparent;
    background-color: #BDBDBD;
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in:disabled:checked + label:before {
    background-color: transparent;
}
.oficina-virtual-ingresar .md-form-filled [type="checkbox"].filled-in:disabled:checked + label:after {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

.form-check .mitad {
    width: 50%;
    float: left;
}
.olvidelaclave {
    color: #fff;
}
.olvidelaclave a {
    color: #fff;
    font-weight: 500;
    font-size: .8rem;
}
@media(max-width:992px){
    .col-oficina-virtual {    
        padding-right: 0px!important;
    }
}
.col-oficina-virtual-inner {    
    background:#4E8087 url("../images/home/fondo-oficina-virtual-plus.jpg") no-repeat center center;
    display: inline-block;
    width: 100%;
}
.oficina-virtual-plus {
    width: 100%;    
    /*background:#4E8087 url("../images/home/fondo-oficina-virtual-plus.jpg") no-repeat center center;*/
}
.oficina-virtual-ingresar-left {        
    display: inline-block;
    width: 100%;
}
.oficina-virtual-header {
    display: inline-block;
    width: 100%;
}
.oficina-virtual-quiero-ingresar {
    padding: .5rem 0;
    float: left;
    width: 100%;
    /*background: #D0DCDE;*/

    background: rgba(255, 255, 255, 0.7);
    
}
.oficina-virtual-quiero-ingresar h5{
    font-size: .8rem;
    padding-left: .5rem;
    color: #000;
    font-weight: 400;
}

.oficina-virtual-quiero-ingresar .access-links {
    margin-top: 0;
    float: left;
    width: 100%;
}
.oficina-virtual-quiero-ingresar .access-link {
    width: 33%;
    float: left;
    text-align: center;
}
.oficina-virtual-quiero-ingresar .access-link a{
    color: #000;
    font-size: 1rem;
    font-weight: 400;
}
.oficina-virtual-quiero-ingresar .access-link div.icono{
    clear: both;
    width: 100%;
    text-align: center;
}
.oficina-virtual-quiero-ingresar .access-link div.titlered {
    text-align: center;
    width: 100%;
}
.oficina-virtual-quiero-ingresar .access-link.facebook div.icono{
    color: #284474;
}
.oficina-virtual-quiero-ingresar .access-link.twitter div.icono{
    color: #0192B0;
}
.oficina-virtual-quiero-ingresar .access-link.clave-fiscal div.icono{
    color: #6C6C6C;
}
.oficina-virtual-quiero-ingresar .access-registrate {
    color: #000;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
    margin-top: .5rem;
    float: left;
    width: 100%;
}
.oficina-virtual-quiero-ingresar .access-registrate p{
    margin-bottom: 0;
}
.oficina-virtual-quiero-ingresar .access-registrate a{
    color: #000;
    font-weight: 700;
}

.oficina-virtual-quiero-ingresar .access-link div {
    float: left;
    font-size: 2rem;
    margin-top: 0;
}
.oficina-virtual-quiero-ingresar .access-link div.titlered {
    
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    font-size: .8rem;
}
@media (min-width:576px) and (max-width:991px){
    .oficina-virtual-quiero-ingresar {
        padding-left: 30px;
        padding-right: 30px;
    }
    .oficina-virtual-quiero-ingresar .access-link {
        text-align: left;
    }
    .oficina-virtual-quiero-ingresar .access-link div.icono {
        float: left;
        width: auto;
    }
    .oficina-virtual-quiero-ingresar .access-link div.titlered {
        height: 40px;
        padding-top: 4px;
        padding-left: 10px;
        float: left;
        width: auto;
    }
}
.oficina-virtual-carousel {
    width: 90%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}
@media (max-width:991px){
    .oficina-virtual-carousel {
        margin-top: 15px;
    }
}
.oficina-virtual-carousel .carousel-control-next, .oficina-virtual-carousel .carousel-control-prev {
width: 5%;
}
.oficina-virtual-carousel .carousel-control-next {
    margin-right: -5%;
}
.oficina-virtual-carousel .carousel-control-prev {
    margin-left: -5%;
}
.oficina-virtual-carousel i {
    font-size: 24px;
    color: #006D59;
}
.oficina-virtual-carousel .carousel-control {
    color: #666;
}
.oficina-virtual-carousel .carousel-item img {    
    margin: 0 auto;
}

nav.navbar ul.navbar-nav {
    margin-top: 10px;
}
nav.navbar ul.navbar-nav li.nav-item {
    color: #006D59;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 4px solid #fff;
    padding-left: 15px;
    padding-right: 15px;
}
nav.navbar ul.navbar-nav li.nav-item a{
    color: #006D59;
}
nav.navbar ul.navbar-nav li.nav-item.active {
    border-top: 4px solid #006D59;
}
nav.navbar ul.navbar-nav li.nav-item.active a{
    color: #006D59;
}
.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
    background-color:transparent;
}
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    left:-170px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 0px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-right:-95px;
}
.sticky li img{
    float:right;
    margin:5px 4px;
    margin-left:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
    text-align: right;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}